body {
    font-family: 'Lato', sans-serif;
}

.header {
    background-image: url(./image/donation8.jpg);
    width: 100%;
    height: 500px;
    background-repeat: no-repeat;
    margin-left: 8px;
}

.heading {
    text-align: center;
    padding-top: 5px;
}

.heading h1 {
    font-size: 60px;
    color: #e1ef10;
}

.heading p {
    margin: 10px 150px;
    color: hwb(0deg 63% 27%);
}

.donate-now {
    text-decoration: none;
    background-color: lightcoral;
    padding: 10px 5px;
    border-radius: 20px;
}

.donate-today {
    text-align: center;
    padding-top: 100px;
}

.donate-today h1 {
    font-size: 50px;
}

.flex {
    display: flex;
    text-align: center;
    margin-left: 100px;
}

.color {
    color: indianred;
    border: 2px solid;
}

#box {
    box-shadow: 40px 50px 150px #e9e1e1;
    padding-left: 5px;
    padding-right: 5px;
    margin-right: 60px;
}

hr {
    margin-left: 300px;
    margin-right: 300px;
}

.donate {
    text-decoration: none;
    background-color: rgb(146, 74, 74);
    padding: 10px 5px;
    border-radius: 20px;
}

.donation-plan {
    text-align: center;
    margin-top: 100px;
}

.peragraph {
    margin-left: 300px;
    margin-right: 300px;
}

.donation-plan h1 {
    font-size: 50px;
}

.display-flex {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

#display {
    box-shadow: 40px 50px 150px #e9e1e1;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 56px;
    margin-left: 25px;
}

.first-box {
    background-color: rgba(167, 153, 255, 0.418);
}

.second-box {
    background-color: rgba(243, 135, 98, 0.397);
}

.get-updates {
    text-align: center;
}

.get-updates h1 {
    font-size: 60px;
}

.donate-us {
    display: flex;
    width: 58%;
    margin-left: 300px;
    padding-left: 59px;
}

.helpless {
    margin-left: 20px;
}

.donate-us img {
    width: 116%;
    margin-left: 100px;
}

.email-box {
    background-color: #f3dd162e;
    width: 50%;
    margin-left: 335px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.bg-color {
    background-color: indianred;
    color: white;
    padding: 5px 20px;
    font-size: 15px;
}

footer {
    background-color: black;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 10px;
    color: white;
}